/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }

  .caveat {
    font-family: "Caveat";
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.navbar {
    display: flex;
    background: #333;
    color: #fff;
    justify-content: center;
    flex-direction: column;
}

.navbar a li {
    padding: 1.5rem;
    
    }

.navbar-brand {
    display: flex;
    justify-content: center;
}

.navbar-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
}


.menu{
    width: 100%;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
}

/* Estilo al pasar el mouse sobre cada elemento <li> */
.navbar-links li:hover {
    background-color: #a3a3a394; /* Cambia el color de fondo al pasar el mouse */
    border-radius: 5px; /* Añade bordes redondeados */
}

/* Cambia el color del texto al pasar el mouse */
.navbar-links li:hover a {
    color: #60b8f3;
}

#logo {
    height: 300%;
    width: 30%;
}

.section {
    padding: 2rem 1rem;
    text-align: center;
    min-height: 80vh; /* Each section occupies 80% of the viewport height */
}

.home {
    background: #bde0fe;
    color: #fff;
}

.about {
    background: #ebeae7;
}

#hijos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery {
    background:#333;
    color: #fff;
}

.presentacion {
    width: 85%;
    height: auto;
    display: flex;
    justify-self: center;
    margin-left: 2%;
    text-align: justify;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: Caveat;
    font-size: 1.5rem;
}

.contact {
    background: #333;
    color: #fff;
}


.footer {
    background: #c4c3c0;
    color: #0c0c0c;
    text-align: center;
    flex-direction: row;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Media Queries */



@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    #logo{
        margin-left: 4rem;
    }

    .menu{
        height: 5rem;
        width: 100%;

    }
    .navbar {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #333333d5;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-close {
        position: absolute;
        top: 1.6rem;
        right: 1.4rem;
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
        padding: 1rem;
    }


    .navbar-links a {
        padding: 1rem;
        border: none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

}

@media (min-width: 769px) {
    .navbar-close {
        display: none; /* Oculta el botón de cerrar en pantallas más grandes */
    }
    .footer{
        display: flex;
        align-items: center;
     }
     
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Asegura que el video esté detrás del contenido */
}

.content {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 1; /* Asegura que el contenido esté delante del video */
    text-align: center;
    color: #fff; /* Ajusta el color del texto para que sea legible en el video */
    padding: 20px;
}

.reserva{
    margin-top: 2rem;
    color: #fff;
    background-color: rgb(24, 0, 146);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 6px;
    transition: .3s ease all;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;

}


.logofooter{
    height: 6rem;
    width: 6rem;
}

#bulletpoints {
   text-align: justify;
   padding: 2rem 1rem;
   min-height: 80vh; /* Each section occupies 80% of the viewport height */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

dl, ol, ul {
    margin:0
}

.card-body{
    text-align: justify;
}

.btn {
    font-weight:bold;
}

.card{
    margin-top: 0.2rem;
}

.bullets{
    margin-top: 1rem;
}

.redes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.iconosRedes i{
 margin-left: 1.3rem;
 margin-top: 1rem;
}

a i {
    color: #020202; /* Color de Instagram */
    transform: scale(1.4); /* Escalar el icono en hover */   
}

/* Efecto hover para Instagram */
a i.fa-instagram:hover {
    color: #e4405f; /* Color de Instagram */
    transform: scale(2); /* Escalar el icono en hover */

}

/* Efecto hover para WhatsApp */
a i.fa-whatsapp:hover {
    color: #25d366; /* Color de WhatsApp */
    transform: scale(2); /* Escalar el icono en hover */
}

/* Efecto hover para Email */
a i.fa-envelope:hover {
    color: #0072c6; /* Color para email */
    transform: scale(2); /* Escalar el icono en hover */
}

#peru {
    width: 4rem;
    height: 3rem;
}


.image-container {
    width: 50%;
    height: 15%;
    max-width: 500px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 60vh;
    object-fit: cover; /* This ensures the image covers the container while maintaining aspect ratio */
    border-radius: 50%;
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
    .image-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%;
    }
}

/* Animaciones para las cards */
.animated-card {
    opacity: 0; /* Estado inicial */
    transform: translateY(20px); /* Estado inicial */
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.animated-card.show {
    opacity: 1; /* Estado final */
    transform: translateY(0); /* Estado final */
}

.contenedor-cards {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.equipo {
 margin-top: 1rem;
}

.iconos{
    color: transparent;
}

.reloj{
    background-color: #02020275;
}

#home{
    background-color: #02020275;
}

.animated-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover: aumentar tamaño y añadir sombra fuerte */
.animated-card:hover {
    transform: scale(1.05); /* Aumentar el tamaño de la card */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Añadir sombra fuerte */
}


.card-title {
    text-align: center;
}


.navbar-brand {
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
}


.content h1,
.content h2,
.content p {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.logofooter {
    transition: transform 0.3s ease;
  }
  
  .logofooter:hover {
    transform: scale(1.1);
  }
 

  .card-title{
    font-family: "DM Serif Text", serif;
  }


  .card img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
}

.card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.card .card-text {
    display: none;
    transition: display 0.5s ease;
}

.card.show-description .card-text {
    display: block;
}

.card.show-description img {
    filter: grayscale(0%);
}

.iframe-box{
    width: 80%;
}


/* Estilo del contenedor del video */
.iframe-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Proporción 16:9 */
}

/* Estilo del iframe del video */
.iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

@media screen and (min-width: 768px) {
    /* Estilo del contenedor del video para vista desktop */
    .iframe-box {
        padding-top: 0; /* Elimina la proporción 16:9 */
        width: 672px; /* Ancho original del iframe */
        height: 378px; /* Altura original del iframe */
        margin-left: 28%;
        margin-top: 1rem;
        margin-bottom:3.5rem;
    }
}


.servicios{
    width: 60%;
    height: 30%;
}

@media screen and (min-width: 768px) {
    .servicios {
        width: 30%; /* Ajusta el ancho al 50% */
        height: 10%; /* Ajusta la altura al 25% */
    }
}

.fotosvarias{
    background-color: #333;
    justify-content: center;
    width: 100%

}

.pasarela{
    width: 60%;
    height: 20%;
    margin-left: 15%;
}


.contactito {
 margin-bottom: 1rem;
}

.copyright {
    margin-top: 0.5rem;
}

.subtitulos{
    font-family: "DM Serif Text", serif;
}