/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 0;
}

.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
}

.merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
}

.merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
}

.merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}

.merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
}


.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}



.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.caveat {
    font-family: "Caveat";
    font-optical-sizing: auto;
    font-style: normal;
}

.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}




body {
    font-family: Roboto;
    line-height: 1.6;
}

.navbar {
    display: flex;
    background: #333;
    color: #fff;
    justify-content: center;
    flex-direction: column;
}

.navbar a li {
    padding: 1.5rem;

}

.navbar-brand {
    display: flex;
    justify-content: center;
}

.navbar-toggle {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1.5rem;
}

.navbar-links {
    list-style: none;
    display: flex;
}


.menu {
    width: 100%;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
}

/* Estilo al pasar el mouse sobre cada elemento <li> */
.navbar-links li:hover {
    background-color: #a3a3a394;
    /* Cambia el color de fondo al pasar el mouse */
    border-radius: 5px;
    /* Añade bordes redondeados */
}

/* Cambia el color del texto al pasar el mouse */
.navbar-links li:hover a {
    color: #60b8f3;
}

#logo {
    height: 300%;
    width: 30%;
}

.section {
    padding: 2rem 1rem;
    text-align: center;
    min-height: 80vh;
    /* Each section occupies 80% of the viewport height */
}

.home {
    background: #bde0fe;
    color: #fff;
}

.about {
    background: #ebeae7;
}

#hijos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.gallery {
    background: #333;
    color: #fff;
}

.presentacion {
    width: 85%;
    height: auto;
    display: flex;
    justify-self: center;
    margin-left: 3%;
    text-align: justify;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: Roboto;
    font-size: 1.1rem;
}

.presentacion2 {
    width: 85%;
    height: auto;
    display: flex;
    justify-self: center;
    margin-left: 3%;
    text-align: justify;
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-family: Roboto;
    font-size: 1.1rem;
}

.contact {
    background: #333;
    color: #fff;
}


.footer {
    background: #c4c3c0;
    color: #0c0c0c;
    text-align: center;
    flex-direction: row;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Media Queries */



@media (max-width: 768px) {
    .navbar-toggle {
        display: block;
    }

    #logo {
        margin-left: 4rem;
    }

    .menu {
        height: 5rem;
        width: 100%;

    }

    .navbar {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #333333d5;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-close {
        position: absolute;
        top: 1.6rem;
        right: 1.4rem;
        font-size: 2rem;
        cursor: pointer;
        color: #fff;
        padding: 1rem;
    }


    .navbar-links a {
        padding: 1rem;
        border: none;
        text-align: center;
        width: 100%;
        margin: 0;
    }

}

@media (min-width: 769px) {
    .navbar-close {
        display: none;
        /* Oculta el botón de cerrar en pantallas más grandes */
    }

    .footer {
        display: flex;
        align-items: center;
    }

}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Asegura que el video esté detrás del contenido */
}

.content {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 1;
    /* Asegura que el contenido esté delante del video */
    text-align: center;
    color: #fff;
    /* Ajusta el color del texto para que sea legible en el video */
    padding: 20px;
}



.logofooter {
    height: 6rem;
    width: 6rem;
}

#bulletpoints {
    text-align: justify;
    padding: 2rem 1rem;
    min-height: 80vh;
    /* Each section occupies 80% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

dl,
ol,
ul {
    margin: 0
}

.card-body {
    text-align: justify;
}

.btn {
    font-weight: bold;
}

.card {
    margin-top: 0.2rem;
}

.bullets {
    margin-top: 1rem;
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconosRedes i {
    margin-left: 1.3rem;
    margin-top: 1rem;
}

a i {
    color: #020202;
    /* Color de Instagram */
    transform: scale(1.4);
    /* Escalar el icono en hover */
}

/* Efecto hover para Instagram */
a i.fa-instagram:hover {
    color: #e4405f;
    /* Color de Instagram */
    transform: scale(2);
    /* Escalar el icono en hover */

}

/* Efecto hover para WhatsApp */
a i.fa-whatsapp:hover {
    color: #25d366;
    /* Color de WhatsApp */
    transform: scale(2);
    /* Escalar el icono en hover */
}

/* Efecto hover para Email */
a i.fa-envelope:hover {
    color: #0072c6;
    /* Color para email */
    transform: scale(2);
    /* Escalar el icono en hover */
}

#peru {
    width: 4rem;
    height: 3rem;
}


.image-container {
    width: 50%;
    height: 15%;
    max-width: 500px;
    margin: 0 auto;
}

.image-container img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    /* This ensures the image covers the container while maintaining aspect ratio */
    border-radius: 50%;
}

/* Media Queries for responsive adjustments */
@media (max-width: 768px) {
    .image-container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .image-container {
        width: 100%;
    }
}

/* Animaciones para las cards */
.animated-card {
    opacity: 0;
    /* Estado inicial */
    transform: translateY(20px);
    /* Estado inicial */
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.animated-card.show {
    opacity: 1;
    /* Estado final */
    transform: translateY(0);
    /* Estado final */
}

.contenedor-cards {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.equipo {
    margin-top: 1rem;
}

.iconos {
    color: transparent;
}

.reloj {
    background-color: #02020275;
}

#home {
    background-color: #02020275;
}

.animated-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover: aumentar tamaño y añadir sombra fuerte */
.animated-card:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño de la card */
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    /* Añadir sombra fuerte */
}


.card-title {
    text-align: center;
}


.navbar-brand {
    transition: transform 0.3s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
}


.content h1,
.content h2,
.content p {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.logofooter {
    transition: transform 0.3s ease;
}

.logofooter:hover {
    transform: scale(1.1);
}


.card-title {
    font-family: "DM Serif Text", serif;
}


.card-title {
    font-family: "DM Serif Text", serif;
}

.card img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
}

.card:hover img {
    filter: grayscale(0%);
    transform: scale(1.05);
}

.card .card-text {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.card.show-description .card-text {
    display: block;
    max-height: 1000px;
    /* Arbitrary large value to ensure the content is fully visible */
}

.card.show-description img {
    filter: grayscale(0%);
}


.iframe-box {
    width: 80%;
}


/* Estilo del contenedor del video */
.iframe-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    /* Proporción 16:9 */
}

/* Estilo del iframe del video */
.iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}

@media screen and (min-width: 768px) {

    /* Estilo del contenedor del video para vista desktop */
    .iframe-box {
        padding-top: 0;
        /* Elimina la proporción 16:9 */
        width: 672px;
        /* Ancho original del iframe */
        height: 378px;
        /* Altura original del iframe */
        margin-left: 28%;
        margin-top: 1rem;
        margin-bottom: 3.5rem;
    }
}


.servicios {
    width: 60%;
    height: 30%;
}

@media screen and (min-width: 768px) {
    .servicios {
        width: 30%;
        /* Ajusta el ancho al 50% */
        height: 10%;
        /* Ajusta la altura al 25% */
    }
}

.fotosvarias {
    background-color: #333;
    justify-content: center;
    width: 100%
}

.pasarela {
    width: 60%;
    height: 20%;
    margin-left: 15%;
}


.contactito {
    margin-bottom: 1rem;
}

.copyright {
    margin-top: 0.5rem;
}

.subtitulos {
    font-family: "DM Serif Text", serif;
}


#countdown-container {
    text-align: center;
    background: #ffffff00;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: whitesmoke;
}

#countdown {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#countdown div {
    background: #ea0808bb;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 6rem;
    justify-content: center;
}

#countdown span {
    display: block;
    font-size: 2em;
}


.reserva {
    margin-top: 2rem;
    color: #fff;
    background-color: rgb(24, 0, 146);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    padding: 12px 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.reserva::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 40%;
    transform: translate(-50%, -50%);
    transition: all 0.7s ease;
}

.reserva:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.reserva:hover {
    background-color: rgb(0, 119, 255);
}


.contact-form h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

button {
    background-color: rgb(24, 0, 146);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(0, 119, 255);
}

.touch {
    margin-top: 1rem;
}

.contactopier {
    margin-top: 1.3rem;
    width: 8rem;
    height: 8rem;

}

.call {
    width: 8rem;
    height: 8rem;
}

@media (max-width: 768px) {
    .contenedor-cards .col-12.col-md-3 {
        flex: 0 0 90%;
        /* Reduce el ancho de las cards */
        max-width: 90%;
        /* Reduce el ancho de las cards */
        margin: 0 auto;
        /* Centra las cards */
    }

    .contenedor-cards .card {
        transform: scale(0.9);
        /* Reduce el tamaño de las cards */
    }
}

.fuente-description {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.sh {
    width: 30rem;
    height: 20rem;
    /* Altura fija de 200px */
}

.top {
    margin-top: 2rem;
}


.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: calc(100% * 2.5);
    /* Ajusta el número de imágenes */
    animation: scroll 60s linear infinite;
    /* Duración de la animación para pantallas grandes */
}

.carousel img {
    width: 16%;
    /* Debe ser 100% dividido entre el número de imágenes */
    object-fit: contain;
}

/* Animación de desplazamiento */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Media query para pantallas móviles */
@media (max-width: 600px) {
    .carousel {
        animation: scroll 150s linear infinite;
        width: calc(100% * 10)
        /* Animación más rápida en pantallas pequeñas */
    }
}



/* Estilo general del rectángulo */
.sliding-rectangle {
    position: absolute;
    left: -100%;
    /* Comienza fuera de la pantalla desde la izquierda */
    top: 20rem;
    /* Posiciona el rectángulo desde el borde superior del contenedor */
    height: 14rem;
    width: 50vw;
    /* Ancho del rectángulo ajustado a un porcentaje del viewport width */
    background-color: #a6b9c95e;
    /* Fondo blanco semi-transparente */
    transition: transform 0.5s ease-out;
    /* Transición suave de 0.5 segundos */

}

.sliding-rectangle:hover {
    background-color: #0773d299;
    /* Cambia el color de fondo al pasar el mouse */
    border-radius: 5px;
    /* Añade bordes redondeados */
}


/* Clase para hacer visible el rectángulo al deslizarlo */
.sliding-rectangle.visible {
    transform: translateX(190%);
    /* Mueve el rectángulo a su posición final pegado al borde izquierdo */
}

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    .sliding-rectangle {
        width: 90vw;
        height: 32vh;
        margin-left: 1.2rem;
        top: 15rem;
        /* Ajusta el ancho del rectángulo para pantallas más pequeñas */
    }

    .sliding-rectangle.visible {
        transform: translateX(90%);
        /* Ajusta la posición final para pantallas más pequeñas */
    }
}


@media (max-width: 600px) {
    .carousel img {
        width: 100%;
        /* La imagen ocupa el 100% del ancho del contenedor */
        height: 50vh;
        /* Mantiene la proporción de la imagen */
        object-fit: cover;
        /* Escala la imagen para que cubra todo el espacio del contenedor */
    }

    /* Opcional: ajusta el carrusel para que no haya espacio lateral */
    .carousel {
        padding: 0;
        margin: 0;
    }
}

.translate {
    z-index: 1;
    margin: 1rem;


}

.translation {
    height: 1.5rem;
    width: 2rem;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

@media (max-width: 600px) {
.translation{
    position: absolute;
    left: 1rem;
    top: 3rem;
    
}
}


/* Efecto hover para ampliar la imagen */
.translation:hover {
    transform: scale(1.1);
    /* Amplía la imagen un 10% */
}

